.dl {
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
}

.dl dt {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
}

.dl dd {
    flex: 1;
}

.dl dd p {
    margin: 10px 0;
}

.p_l {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.p_l img {
    width: 25px;
    height: 25px;
    display: block;
}

.ul {
    position: absolute;
    top: 15px;
    right: 45px;
    background: rgba(0, 0, 0, .4);
    display: flex;
    height: 35px;
    align-items: center;
}

.ul li {
    padding: 2px 2px;
    color: #fff;
    margin: 0 2px;
}