.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home_main {
    flex: 1;
    width: 100%;
}

.swiper {
    height: 200px;
    background: rgba(0, 0, 0, .5);
}

.swiper-slide {
    text-align: center;
    line-height: 200px;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.content dl {
    width: 33.3%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.content dl dt {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.content dl dt img {
    width: 35px;
    height: 35px;
    margin: 10px auto;
    display: block;
}

.content dl dd {
    margin-top: 10px;
    font-size: 13px;
}