.my {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my_main {
    flex: 1;
    width: 100%;
}

.ol {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .1);
}

.ol li {
    flex: 1;
    text-align: center;
    color: #f40;
    line-height: 44px;
}

.ol li.active {
    background: #f40;
    color: #fff
}